body {
	background-color: #fbfbfb;
}

.navbar:before,
.navbar:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.navbar:after {
    clear: both;
}

.navbar {
    background-color: #057cb8;
    color: white !important;
}

.nav {
	font-size: 1.5em;
	padding: 0.5em;
}

.nav.left {
	float: left;
}

.nav.right {
	float: right;
}

.container {
    background-color: #f0f0f0;
    padding: 2em;
    width: 80%;
    margin: 3em auto;
    color: #333;
}
