body {
	background-color: #fbfbfb;
}

.navbar:before,
.navbar:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.navbar:after {
	clear: both;
}

.navbar {
	background-color: #1FA67A;
	color: white !important;
	position: relative;
}

.nav {
	font-size: 1.5em;
	padding: 0.5em;
}

.nav.left {
	float: left;
}

.nav.right {
	float: right;
}

.container {
	background-color: #f0f0f0;
	padding: 2em;
	width: 70%;
	margin: 3em auto;
	color: #333;
}

.result {
	margin: auto;
	font-size: 1.6em;
}

.result tr {
	border-bottom: 1px solid black;
}

.result th {
	padding: 0.2em 2em;
}

.result td {
	padding: 0.3em 2em;
}

.result span {
	display: inline-block;
}

.result .pos {
	color: green;
	min-width: 3em;
}

.result .neg {
	color: red;
}

.result .total {
	border-top: 3px solid black;
	border-bottom: none;
}

.vote .pos {
	background: lime;
	border-radius: 15px;
	border: 2px solid #f0f0f0;
}

.vote .neg {
	background: rgb(255, 123, 0);
	border-radius: 15px;
	border: 2px solid #f0f0f0;
}

.vote .name {
	padding-left: 0.5em;
}

input {
	margin: 0.4em;
}

.btn {
	font-size: 16px;
	line-height: 1.45em;
	display: inline-block;
	text-decoration: none;
	padding: 0.3em 0.5em;
	margin: 0.35em 0;
	border-radius: 2px;
	transition: background-color 0.1s;
	background-color: #1185c0;
	color: #fff;
	border: 1px solid #1779AA;
}

.btn:hover {
	background-color: #0C6FA0;
	border: 1px solid #0D6087;
}

.btn.btn-green {
	color: #fff;
	background-color: #11BF14;
	border: 1px solid #0EA010;
}

.btn.btn-green:hover {
	background-color: #11A314;
	border: 1px solid #107F12;
}

.btn.btn-remove {
	color: #fff;
	background-color: red;
	border: 1px solid darkred;
}

.btn.btn-disabled,
.btn[disabled] {
	background-color: #ccc;
	border: 1px solid #aaa;
	color: #777;
	cursor: default;
}

.btn.btn-disabled:hover,
.btn[disabled]:hover {
	color: #777;
	background-color: #ccc;
	border: 1px solid #aaa;
}

li .btn.btn-remove {
	margin-left: 1em;
}

.btn.btn-remove:hover {
	background-color: #e90000;
}

#messages-container {
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: 5px;
	margin-right: 1em;
	color: black;
}

#message-example {
	display: none;
}

#messages-container .message {
	background-color: #73C8C2;
	padding: 0.6em 1.4em;
	margin: 0.3em 0;
	border: 1px solid
	border-radius: 1px;
	transition: all 1s;
}
