body {
	background-color: #fbfbfb;
}

.navbar:before,
.navbar:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.navbar:after {
    clear: both;
}

.navbar {
    background-color: #1FA67A;
    color: white !important;
}

.nav {
	font-size: 1.5em;
	padding: 0.5em;
}

.nav.left {
	float: left;
}

.nav.right {
	float: right;
}

.container {
    background-color: #f0f0f0;
    padding: 2em;
    width: 70%;
    margin: 3em auto;
    color: #333;
}

.result {
	margin: auto;
	font-size: 1.6em;
}

.result tr {
	border-bottom: 1px solid black;
}

.result th {
	padding: 0.2em 2em;
}

.result td {
	padding: 0.3em 2em;
}

.result span {
	display: inline-block;
}

.result .pos {
	color: green;
	min-width: 3em;
}

.result .neg {
	color: red;
}

.result .total {
	border-top: 3px solid black;
	border-bottom: none;
}

input {
	margin: 0.4em;
}

.btn {
    font-size: 16px;
    line-height: 1.45em;
    display: inline-block;
    text-decoration: none;
    padding: 0.3em 0.5em;
	margin: 0.35em 0;
    border-radius: 2px;
    transition: background-color 0.1s;
	background-color: #1185c0;
    color: #fff;
    border: 1px solid #1779AA;
}

.btn:hover {
    background-color: #0C6FA0;
    border: 1px solid #0D6087;
}

.btn.btn-green {
    color: #fff;
    background-color: #11BF14;
    border: 1px solid #0EA010;
}

.btn.btn-green:hover {
    background-color: #11A314;
    border: 1px solid #107F12;
}

.btn.btn-remove {
    color: #fff;
    background-color: red;
    border: 1px solid darkred;
}

li .btn.btn-remove {
	margin-left: 1em;
}

.btn.btn-remove:hover {
    background-color: #e90000;
}
